STORYBLOK_DELIVERY_API_TOKEN=<REPLACE_WITH_YOUR_TOKEN>
STORYBLOK_API_BASE_URL=https://api.storyblok.com
STORYBLOK_REGION=<REPLACE_WITH_SPACE_REGION>
STORYBLOK_SPACE_ID=<REPLACE_WITH_SPACE_ID>
STORYBLOK_MANAGEMENT_TOKEN=<REPLACE_WITH_PERSONAL_ACCESS_TOKEN>
