STORYBLOK_PUBLIC_ACCESS_TOKEN=<REPLACE_WITH_PUBLIC_TOKEN>
STORYBLOK_PREVIEW_ACCESS_TOKEN=<REPLACE_WITH_PREVIEW_TOKEN>
STORYBLOK_API_BASE_URL=https://api.storyblok.com
STORYBLOK_REGION=<REPLACE_WITH_SPACE_REGION>
STORYBLOK_PREVIEW_SECRET=<REPLACE_WITH_RANDOM_SECRET>
STORYBLOK_WEBHOOK_SECRET=<REPLACE_WITH_RANDOM_SECRET>
STORYBLOK_SPACE_ID=<REPLACE_WITH_SPACE_ID>
STORYBLOK_MANAGEMENT_TOKEN=<REPLACE_WITH_PERSONAL_ACCESS_TOKEN>
